[2014-12-23 10:02] appleboy opened #1 "Add example page."
as title.

[2015-03-22 18:05] rvaidya opened #2 "Race condition for explicit rendering"
Sometimes your component will register the onloadCallback function in window *after* api.js loads, so the callback is never called and the component never loads.

Using the normal rendering method is technically a race condition as well, since React may load after Recaptcha looks for the div element, but I haven't seen this happen yet in practice.

[2015-07-06 03:12] appleboy opened #4 "reCAPTCHA API verion 2.0"
https://developers.google.com/recaptcha/intro

[2015-09-07 21:02] nikshulipa opened #5 "react-tools is deprecated"
WARN deprecated react-tools@0.12.2: react-tools is deprecated. For more information, visit https://fb.me/react-tools-deprecated

[2015-09-12 15:59] appleboy commented on #5
I will take it.

[2015-09-13 06:57] #5 closed

[2015-10-04 19:14] tony1223 opened #7 "should compile to js instead of jsx"
if we require this one in webpack or something like that it will be fail.

I think it should convert jsx  to js file to be working in more environment.

/*
/private/var/clones/interest_workspace/budget/node_modules/react-recaptcha/src/index.js:41
        <div id={this.props.elementID}
        ^
SyntaxError: Unexpected token <
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (mo

[2015-10-05 03:04] appleboy commented on #7
@tony1223 Good catch. I will take it.

[2015-10-09 11:20] #1 closed

[2015-10-09 11:21] appleboy commented on #7
@tony1223 Please install version `1.0.0` again.

[2015-10-09 11:21] #7 closed

[2015-10-10 01:40] appleboy opened #10 "ES6 Support"

[2015-10-10 01:54] #10 closed

[2015-10-10 02:10] appleboy opened #11 "Support eslint-config-airbnb"

[2015-10-10 02:12] #11 closed

[2015-10-16 11:15] appleboy opened #12 "Update widget configurations"
Ref: https://developers.google.com/recaptcha/docs/display#config

Missing the following config:

* [x] size
* [x] tabindex
* [x] expired-callback

[2015-10-17 09:21] #12 closed

[2015-10-17 14:34] appleboy opened #13 "react/addons is deprecated"
Warning:

[code]

[2015-10-17 14:34] #13 closed

[2015-11-01 07:02] frostymarvelous opened #14 "How to reset Captcha"
How is reset handled?

[2015-11-09 05:44] appleboy opened #15 "Update eslint-config-airbnb to 1.0.0"

[2015-11-09 05:47] appleboy commented on #14
@frostymarvelous I will implement it as soon as possible.

[2015-11-13 12:06] #15 closed

[2015-11-14 09:28] appleboy opened #16 "upgrade to babel 6"
Babel 6 Not Supported babel-plugin-react-transform

https://github.com/gaearon/babel-plugin-react-transform

[2015-11-14 14:55] appleboy opened #17 "Remove react-hot-loader"
Please refer https://github.com/gaearon/react-transform-hmr/issues/5

https://github.com/gaearon/react-hot-loader

[2015-11-15 04:17] appleboy commented on #17
Closed via https://github.com/appleboy/react-recaptcha/commit/dd1e47ad08ea9dd174c10e70c2236a9ffcfc2c93

[2015-11-15 04:17] #17 closed

[2015-11-15 04:20] appleboy commented on #17
Issue: Error: /Users/mtk10671/git/react-recaptcha/__tests__/recaptcha-test.js: /Users/mtk10671/git/react-recaptcha/src/index.js: locals[0] does not appear to be a `module` object with H
ot Module replacement API enabled. You should disable react-transform-hmr in production by using `env` section in Babel configuration. See the example in README: https://github.c
om/gaearon/react-transform-hmr

[2016-01-05 15:06] #16 closed

[2016-01-06 23:53] damiandennis opened #20 "React Router"
This components does not appear to work between routes, if its the default route it seem to work ok but navigating between routes it does not appear to work. Is there something I need to reset in the route to make it work.

[2016-01-08 22:06] damiandennis commented on #20
Hey made the fix in my own fork but cant do a merge request as I have branched off your tag 2.0.1 and have made some babel 6 changes.
https://github.com/shockjs/react-recaptcha/commit/c9264e8deb1a4b11616c5d012868ffadf5e30cdb

[2016-02-02 21:50] hkrdrm opened #22 "How do I get the response from Inside my class"
Basically I'm trying to validate the response from inside my _onSubmit() function is this possible I've tried moving the callback function inside the class so i could use setState or something but Recaptcha fails to locate the function if i put it inside the class.

I'm thinking maybe the better idea is to probably is to check the validation server side right? I'm probably implementing recaptcha w

[2016-02-18 09:16] jhunexjun opened #27 "Navigating with react-router, it doesn't seem to work without refresh."
I use this recaptcha for my reactjs project. As I navigate from home page going to the registration, the captcha doesn't show without refresh.

[2016-02-25 05:51] onedr0p opened #34 "Where to put the secret key?"
I am lost, where do I use this? In none of the examples I see it being used.

[2016-02-25 06:30] appleboy commented on #34
We only need `sitekey`.

[2016-02-25 07:31] onedr0p commented on #34
Gotcha, so this component doesn't take care of the validation, that's something I need to implement. I understand now.

[2016-02-25 07:31] #34 closed

[2016-02-29 05:16] kjanoudi commented on #27
@jhunexjun  Try doing a hard "reset" on it, by calling grecaptcha.reset(). just a thought

[2016-04-06 11:31] gran33 opened #53 "Any React Native implementation?"
Sometime in the far future?
:)

[2016-05-04 02:51] evenchange4 commented on #4
@appleboy Is this API already 2.0?

[2016-06-07 19:47] antoinerousseau commented on #53
+1 😊

[2016-07-22 16:06] bngsudheer opened #123 "Example does not run"
ERROR in ./example/main.js
Module parse failed: /home/sudheer/workspace/react-recaptcha-test/node_modules/react-recaptcha/example/main.js Unexpected token (25:6)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (25:6)
    at Parser.pp.raise (/home/sudheer/workspace/react-recaptcha-test/node_modules/react-recaptcha/node_modules/webpack/node_modules/acorn/di

[2016-07-27 02:25] bmills22 opened #124 "Refreshing page causes 'graptcha not defined' error"
I am using react-router in my project with redux, and everything works when navigating normally. However when a user refreshes the page with the captcha on it, 3/4 times I get:
`grecaptcha is not defined`

I think this is race condition because, when I work locally, I do not get this error. Here's how I have my code setup:
**index.html**
[code]

**Signup.jsx**
[code]

Any ideas?

[2016-08-09 10:07] mykle90 opened #137 "Any way to use the data-size parameter?"
In googles documentation they have a data-size to determine the width of the widget. Is it possible to use this property with react-recaptcha?

https://developers.google.com/recaptcha/docs/display#render_param for documentation

[2016-08-09 12:49] mykle90 commented on #137
I read the source, and found the size property! Issue closed

[2016-08-09 12:49] #137 closed

[2016-08-20 13:51] lostpebble commented on #124
I experienced the same problem. I'm working with server rendering, which I thought was the issue (maybe the component was being created too early on the server and couldn't initialise properly client side). So I tried not rendering the component from the server and only on the client -BUT that still didn't fix the error.

As you say, there are probably some race conditions somewhere. A dirty fix w

[2016-08-22 16:31] hantc opened #147 "Recaptcha doesn't fully render to DOM"
When using recaptcha inside JSX, Recaptcha is not fully rendered. Div is blank.

```<div class="g-recaptcha" data-sitekey="my-own-tested-and-valid-key" data-theme="light" data-type="image" data-size="normal" data-tabindex="0" data-reactid=".1.0.1.3"></div>```

react-recaptcha is imported and rendered as <Recaptcha sitekey="my-own-tested-and-valid-key" />

[2016-10-12 08:35] danbahrami commented on #14
@appleboy I was thinking of creating a pull request for this feature, I propose exposing a reset method which could be accessed via a callback ref. So usage would look like...

[code]

Let me know your thoughts and I can implement and document.

[2016-10-12 09:11] frostymarvelous commented on #14
Refs. Hmm.

Anyway,, I think it is a good idea.

[2016-10-12 09:23] appleboy commented on #14
@danbahrami Good. I will take it.

[2016-10-12 11:02] danbahrami commented on #14
@frostymarvelous I would say refs is the most declarative way of doing this but I'm open to suggestions. do you have a different api in mind?

[2016-10-12 11:05] frostymarvelous commented on #14
I was speaking from something I remembered from the docs concerning deprecation.
However, I went back and checked and it was only referring to "string" refs.

So yeah, it is a great way of doing it.

[2016-10-12 14:15] appleboy commented on #2
@rvaidya Please update to `2.2.0` version.

[2016-10-12 14:15] #2 closed

[2016-10-12 14:15] appleboy commented on #124
@bmills22  Please update to `2.2.0` version.

[2016-10-12 14:15] #124 closed

[2016-10-13 10:02] emptyOne322 opened #174 "UNMET PEER DEPENDENCY react@15.3.2"
Hi, i have this message 'UNMET PEER DEPENDENCY react@15.3.2' during installation, do u have some ideas?

[2016-10-17 16:52] elboman opened #178 "v.2.2.0 bundle includes react source code"
Hi,
I think 2.2.0 bundle includes React source and maybe something else. I updated the library and my application isn't working anymore.

I compared the bundles:
[code]
I tried to look for something in past commits but I can't seem to find anything. I guess something went wrong before publishing to npm.

[2016-10-17 17:46] danbahrami commented on #178
yeah, I'm seeing the same thing, looks like it's published a dev build.

[2016-10-18 01:06] appleboy commented on #178
I will take it.

[2016-10-18 01:36] appleboy commented on #178
Hi @danbahrami @elboman

Please update to `2.2.3` version.

[2016-10-18 01:37] #178 closed

[2016-10-18 01:43] appleboy commented on #174
@emptyOne322 Please try the latest version.

[code]

[2016-10-18 01:43] #174 closed

[2016-10-18 01:47] appleboy commented on #14
@frostymarvelous Please try the `2.2.3` version and see [the example](https://github.com/appleboy/react-recaptcha/blob/master/example/main.js).

[2016-10-18 01:47] #14 closed

[2016-10-18 09:43] frostymarvelous commented on #14
A big thanks to @danbahrami for the work put in.
And thanks to @appleboy for the project in the first place.

[2016-10-30 18:48] figalex opened #179 "Is there a way to change language?"
How can I set a language code? https://developers.google.com/recaptcha/docs/language

[2016-10-30 18:51] figalex commented on #179
Already figured it out. You have to add the "hl" param on the api.js url.

`<script src="https://www.google.com/recaptcha/api.js?hl=es" async defer></script>`

https://developers.google.com/recaptcha/docs/display

[2016-10-30 18:51] #179 closed

[2016-10-31 14:34] filip-ph-johansson commented on #147
Are you using the recaptcha script on your index-page?
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

[2016-11-06 18:53] daywong1119 opened #181 "ReCAPTCHA placeholder element must be an element or id"
I got the error when inflating the view by code below:
[code]

    recaptcha__en.js:286 Uncaught Error: ReCAPTCHA placeholder element must be an element or id

[2016-11-20 14:09] agentmario opened #182 "How to handle expiration?"
If a user passed the verification but it goes timeout, how to handle this event?

[2016-11-24 09:45] Spokeek commented on #182
You can add a expiredCallback prop on the Recaptcha Components, and it will be executed when ... the timeout will come.

[2016-11-24 14:28] danbahrami commented on #182
@appleboy possibly an action point to add expiredCallback documentation to README?

[2016-11-24 14:32] Spokeek commented on #182
Actually, you have all the features on the "full exemple" page : [https://github.com/appleboy/react-recaptcha/blob/master/example/main.js](url)

[2016-12-15 17:12] MrHash commented on #181
Several people have this problem it seems. Any advice?

[2016-12-15 17:26] MrHash commented on #147
Possibly same problem as #181

[2017-01-02 10:40] marudhupandiyang commented on #181
Try adding `onloadCallback` to `Recaptcha`. Something similar to below

    <div className="form-group" id="captcha-holder">
        <Recaptcha sitekey="xxx" render="explicit" verifyCallback={this.onCaptchaVerify} onloadCallback={this.onloadCallback}/>
    </div>

[2017-01-09 18:27] pietrofxq commented on #22
Trying the same thing. My function to verify the recaptcha must be inside the class so it can update it's state, but it doesn't seem to be working

[2017-01-29 05:55] appleboy commented on #182
I will update README.

[2017-02-17 23:50] wil93 opened #185 "Missing unminified version from npm"
When I install via npm, I have only this *minified* file:

    node_modules/react-recaptcha/dist/react-recaptcha.js

I usually expect to have both a minified and unminified version, like this:

    node_modules/react-recaptcha/dist/react-recaptcha.js
    node_modules/react-recaptcha/dist/react-recaptcha.min.js

[2017-02-18 00:05] wil93 commented on #181
I solved it by adding `render="explicit"` and `onloadCallback={console.log.bind(this, "recaptcha loaded")}`

I don't know why those two things (especially the onload thing) are required, but this check may be the cause of them being required: https://github.com/appleboy/react-recaptcha/blob/53768e246d5af97f8a7293a6c457a69153bfd2cd/src/index.js#L105

[2017-03-13 20:05] cindyloo commented on #147
I am seeing this problem using React 15.4.1 on mac os in Chrome. Trying to solve for #181 does not work in my case

[2017-04-17 23:28] ericj17 opened #188 "Instructions on how to build dist?"
Hi, just a question on how to go about building 'dist'

When I run 'npm run compile' I get a dist that includes object-assign and modernizr. How would I go about building to produce a dist output that is the same format as distributed by the npm module?

Thanks,
Eric

[2017-04-27 17:12] laduke opened #189 "Accessing PropTypes via the main React package is deprecated."
Pretty sure I'm getting this deprecation warning from this package.

`import React, { PropTypes, Component } from 'react';`

PR welcome?

[2017-04-28 00:56] appleboy commented on #189
PR welcome. Thanks.

[2017-04-28 22:30] laduke commented on #189
Sorry. Can't figure it out. I changed to
`import PropTypes from 'prop-types';`
and somehow PropTypes is is undefined when I run the test

https://www.npmjs.com/package/prop-types

[2017-05-08 22:54] danielkhan opened #190 "Recaptcha fails with Uncaught TypeError: Cannot read property 'value' of null"
I'm running into the problem described here: https://gedgei.wordpress.com/2015/08/07/using-recaptcha-in-single-page-applications/
Basically I am navigating to different pages containing the widget and I#d need the widget id when calling `getResponse()`. Is there a way to retrieve it?

[2017-05-08 22:57] danielkhan commented on #27
This is the same problem as described in https://github.com/appleboy/react-recaptcha/issues/190.
A hard reset doesn't do the trick.

[2017-05-09 01:36] jhunexjun commented on #27
I already solved this one guys long time ago but I guess what I did was I added callback function just like this.
[code]

Actually the callback doesn't have anything inside. Check below:
[code]

[2017-05-09 01:36] #27 closed

[2017-05-22 03:13] #181 closed

[2017-05-24 06:07] doxuanthang opened #192 "How to config language on ReCAPTCHA component?"
I run my app on local with
<script src="https://www.google.com/recaptcha/api.js?hl=ja" async defer></script>
so, language of recaptcha is Japanese.
However, i run on dev environment, it show English.

[2017-05-26 19:35] palafoxernesto opened #193 "Error on multiple recaptchas per page"
Thank you for creating this component,
I want to use more than one recaptcha on the same page, but i am getting an error:

![screenshot from 2017-05-26 14 31 34](https://cloud.githubusercontent.com/assets/1143908/26509903/7d562b38-4220-11e7-9cb2-6240a8d9c5bb.png)

 the code that i am using is:

`<Recaptcha
 sitekey='XXXX'
 render='explicit'
 verifyCallback={this.captchaVerify}
 onloadCallback={thi

[2017-05-27 15:06] crisppY commented on #193
+1

[2017-06-01 00:24] halkeye commented on #189
Did you remove the old PropTypes?

Probably best to create the PR with the work in progress and ask for feedback.

[2017-06-06 18:04] shawnrice commented on #189
See PR #194.

[2017-06-06 18:22] laduke commented on #189
Looks like it's merged. Thanks #194 !

[2017-06-06 18:22] #189 closed

[2017-06-09 18:36] dylanfpaul opened #196 "Is there a way to get the ID of the recaptcha widget being rendered?"
From the google documentation:

[code]

[2017-06-12 08:01] mhemrg opened #197 "Passing style prop"
Can I pass style prop to `<Recaptcha />`? I want to give it `margin: auto`.

[2017-06-12 19:51] ashah023 commented on #197
If it helps, I wrapped it in a `<div></div>` block and styled the div block.

[2017-06-16 14:33] AlinaNor commented on #192
Put hl={"ja"} into Recaptcha component, for example:
<Recaptcha sitekey="*" render="explicit" hl={"ja"} onloadCallback={*} verifyCallback={*} />
This works for me.

[2017-06-19 05:16] vijayst opened #198 "Does it work with invisible recaptcha mode?"

[2017-06-19 06:02] vijayst opened #199 "onRequestBegin config option"
The new methods in BaseModel does not have an option to pass a token in the request header. I already have code for BaseModel - create which sets the session token in the request header.

[code]

The above code will break if I upgrade mobx-model. To prevent too much of code rewrite, I propose adding another config option - onRequestBegin.

[code]

onRequestBegin will be triggered before making the

[2017-06-19 06:13] vijayst commented on #199
I am sorry for raising the issue in the wrong repo. I will close the issue.

[2017-06-19 06:13] #199 closed

[2017-06-22 17:05] ashah023 commented on #22
Just a thought:

You can use `state` to manage the validation. For example, it seems like you want to disable/enable the submit button depending on the validation.

[code]

[2017-06-28 19:13] reetesha opened #201 "Localization is not working in latest version 2.3.2"
Hi Localisation is not working in your latest version : 2.3.2 and it breaks in our production environment.

Here is the steps to reproduce the issue.

1. Pass locale in google captcha . For ex hl-fr_fr  in url - https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=fr_fr'.

2. I see that google captacha is always loading with en_us locale.

When i change the version to 2

[2017-06-30 23:14] cleathers commented on #20
Is this still an issue. I'm running into an issue using this component, it seems to refresh the page when react router redirects us. Unsure if I'm doing something wrong of if this is still an issue.

[2017-07-06 12:40] Daniel1971 commented on #181
Thanks a lot, wil93.

[2017-07-07 21:55] Boomxx commented on #201
@reetesha I'm not sure if it will solve your issue, but there is a `hl` prop that can accept a locale code (e.g. "es" for Spanish) #191

[2017-07-10 20:29] wittlesouth opened #203 "onloadCallback error if no onloadCallback function provided"
Getting the following in the console when no onloadCallback function is provided to the control:

`Uncaught TypeError: this.props.onloadCallback is not a function`

I don't seem to need one for my use case, and therefore this looks like a bug. There are a few spots in the code where there seems to be tests whether this is defined before it is used (e.g. componentDidUpdate), but not in _renderGreca

[2017-08-02 00:23] geoffrey opened #204 "How to force re-render when dynamically changing localization"
I am using the `hl` property on the `Recaptcha` component, however, the component will not re render after it has been rendered once.

Any way we can force re rendering the component when changing the locale?

Thanks

[2017-09-12 04:15] Badestrand commented on #193
For everyone having that problem: Simply define `elementID` on the element, e.g.
[code]

[2017-09-12 04:28] appleboy commented on #193
set element id? see https://github.com/appleboy/react-recaptcha/blob/master/src/index.js#L7

[2017-09-12 05:53] Badestrand commented on #193
Yes, issue can be closed I think

[2017-09-22 23:25] tatvarth commented on #204
https://developers.google.com/recaptcha/docs/display#js_api
grecaptcha.reset(
opt_widget_id
)
Resets the reCAPTCHA widget.
opt_widget_id
  Optional widget ID, defaults to the first widget created if unspecified.

[2017-10-03 04:29] orekav opened #210 "How to use it in a web form?"
I want to know how to implement it in a Form
I need to use it and validate it as a require field

I don't know how to

[2017-10-04 02:47] orekav commented on #210
First I use window to have a Global Variable, but is was awful... then

I did this:

This is in the form:
          <Recaptcha
              sitekey={GOOGLE_RECAPTCHA_API_KEY}
              render="explicit"
              onloadCallback={captchaCallback}
              verifyCallback={captchaVerifyCallback}
            />

And this in the Page who invokes the form:

  g_recaptcha_response = undefin

[2017-10-04 02:47] #210 closed

[2017-11-01 10:41] WoadWork opened #211 "Multiple Instances"
I have 2 separate modals and want to use reCaptcha in each.

I am able to successfully render reCaptcha in 1 modal but am not able to render both.

How do I render multiple instances of reCaptcha ?

[2017-11-06 21:17] farskid opened #212 "Render recaptcha script only inside the Recaptcha component"
For now, one should add the Google re-captcha script into the project's HTML and add it globally in order for re-captcha to be rendered fully.
If we could load the script dynamically when the `Recaptcha` component mounts, that would be really awesome since the script is always the same and Using `script` tag in JSX won't work properly.

For rendering only once, one could use:
[code]

This would so

[2017-11-06 21:18] farskid commented on #147
@hantc You can't embed `script` tag inside JSX. This just won't work. You should dynamically add the script tag to the HTML using Javascript. I've already opened an issue regarding this to be supported in the library out of the box!
Please refer to https://github.com/appleboy/react-recaptcha/issues/212 for the workaround.

[2017-11-11 00:18] dann1609 commented on #212
Please clarify how to use it I have this problem. but do not understand this solution!

[2017-11-11 13:06] dann1609 commented on #212
add this in class you add the recaptcha
[code]

[2017-11-11 14:45] farskid commented on #212
@dann1609 The proposal is simple. Whatever component you're using the recaptcha in, you could add the mentioned script to it's `componentDidMount` lifecycle method, so that only when that component mounts, the script referenced to recaptcha API will be added to the component's HTML and will load it.
This way, you don't need to add the whole script as a global to your HTML and it won't load when it

[2017-11-15 16:05] glorp47 commented on #197
+1 ... the fact that the styling is inline hardcoded would be fine if there was some way to change the default style...

[2017-11-16 12:33] stevematdavies commented on #197
At present for some nonsensical reason, with all their hullabaloo about material-ui and responsive design, the recaptcha is entirely un responsive, since its called in an iFrame, there is no way to style the final element. I so badly need to adjust the width for smaller screen sizes, but styling an outer custom element does not trickle through an iFrame, so its a serious flaw on Googles side.

[2017-12-01 06:27] anupritawayangankar opened #215 "react-recaptcha Test Case using enzyme"
I have implemented react-recaptcha. I am trying to generate test cases for the same. where i am able to find the captcha control but not able to simulate its select value.

Please let me know if anybody has done.

Thanks.

[2017-12-01 06:39] anupritawayangankar opened #216 "gr"
tgrtgrtgr

[2017-12-01 06:41] #215 closed

[2017-12-14 20:40] mdsantosdev opened #217 "Reset method isn't working"
I tried to use the reset method with the only captcha that I had in my page and It's showing me this error:

[2017-12-28 07:29] Zyets opened #218 "Available props"
Please include all available props to your documentation. I broke my brain trying to set proper lang to recaptacha. Official google documentation says to add hl param to script path, but that does not work, thanks to your line number 103 at index.js! I agree! It is correct way to set params like that, but how in world i would know that from your readme... gosh...

i m really sorry for yelling... i

[2017-12-28 07:45] appleboy commented on #218
You can see the prop list first.  https://github.com/appleboy/react-recaptcha/blob/master/src/index.js#L4-L38

[2017-12-28 08:05] Zyets commented on #218
Yeah! I did exactly what you say, but after a whole hour spent on googling whats wrong with google recaptcha...
I mean, i was probably wrong, when i forgot to look in source code first. But, man, it's impolite to send everybody to sources. You either include full description to your examples or do not write anything at all - let people puzzle everything out themselves. You did not even use that pr

[2017-12-28 08:09] appleboy commented on #218
Yes, it is ok. maybe someone like you or me can send PR to update the document.

[2018-01-04 19:35] chris-allnutt commented on #181
#186  doesn't fix this issue.   The issue doesn't present itself on hard reloads, only soft reloads when the data is already cached. forcing a dev to add render and onloadcallback even when the method is empty makes little sense.

[2018-01-08 10:57] Stoneski93 commented on #217
I ma having the same error.

[2018-01-09 04:41] corydeppen commented on #147
I ran into the empty `div` issue as well. I used [scriptjs](https://www.npmjs.com/package/scriptjs) in `componentDidMount` and the script was added to the `head` and the reCAPTCHA rendered as expected.

[code]

[2018-01-18 15:19] andyfry01 commented on #218
@appleboy I'd be glad to do a PR on this to update the documentation, are you still taking PRs for this?

[2018-01-19 03:09] appleboy commented on #218
@andyfry01 PR welcome. Thanks.

[2018-01-19 17:44] hbowden opened #219 "Pre commit broken."
I'm trying to create a few pull requests but the pre-commit hook is broken for me. I looked in the package.json and I see the pre-commit runs lint and test. I ran those commands individually and they both pass but I can't commit with git in this repo. Below is the results of running lint and test then trying to commit. The very bottom of the image is the error message I am receiving.

![pre-commit

[2018-01-19 22:42] andyfry01 opened #221 "Limited test coverage"
Hi again!

The test cases in [the test spec](https://github.com/appleboy/react-recaptcha/blob/master/__tests__/recaptcha-test.js) aren't very robust, basically consisting of a single 'it should exist' test.

I'd be glad to do a PR with some more test cases to improve coverage for the component.

🏗

[2018-01-20 01:42] appleboy commented on #221
@andyfry01 Thanks. PR welcome.

[2018-01-26 08:12] pssgo opened #222 "can i use it in GFW ?"
can i use it in GFW ?

[2018-01-26 09:00] appleboy commented on #222
NO. Google service can't work in China.

[2018-01-26 09:00] #222 closed

[2018-01-30 01:22] #218 closed

[2018-02-01 15:34] andyfry01 commented on #219
@hbowden this was broken for me too, although now I think it should be working. See [line 10](https://github.com/appleboy/react-recaptcha/blob/master/package.json#L10) and [11](https://github.com/appleboy/react-recaptcha/blob/master/package.json#L11) in package.json. Previously pre commit was running test with a `--watch` flag, which was stalling the commit. Now pre commit runs test without `--wat

[2018-02-01 15:36] andyfry01 commented on #216
@anupritawayangankar [PR 223](https://github.com/appleboy/react-recaptcha/pull/223) added some simple test cases using Enzyme and JSDOM, you can check them out to see how they work.

[2018-02-10 14:15] appleboy commented on #198
@vijayst Please update to `2.3.7` version

[2018-02-10 14:15] #198 closed

[2018-02-23 15:52] mateosilguero opened #225 "Its only working on chrome and Opera browsers."
Captcha component is rendering on every browser, but on Safari, ie11 and Firefox, doesn't work the verify callback.

Any idea ?

thanks in advance.

[2018-02-26 14:34] #225 closed

[2018-02-26 14:40] andyfry01 commented on #221
Closed by PR #233

[2018-02-26 14:40] #221 closed

[2018-03-01 18:52] ivanandrianto commented on #217
Same problem here. I use Recaptcha V2

Have you found any workarounds? This bug is very annoying

[2018-03-14 12:53] oxynad commented on #217
Can anyone fix this issue please?

[2018-03-16 19:05] RuthYMNg opened #226 "Typo in README.md"
Usage
You can see the full example by **follwing** steps.

$ npm install
$ npm start
open the http://localhost:3000 in your browser.

**follwing -> following** :)

[2018-03-19 16:17] hbowden commented on #219
@andyfry01 No, this is still very much broken on Windows. Any ideas @appleboy ?

[2018-03-21 03:48] appleboy commented on #219
I think we can remove the pre-commit hooks since we can just run the testing and lint in Travis CI.

[2018-03-24 21:25] PaulRBerg opened #228 "verifyCallback"
On many occasions, the `verifyCallback` is not called. I don't think it's a deterministic process, but it always happened after the recaptcha asks the user to filter some images among many others.

[2018-03-28 09:10] sschenk opened #229 "Rendering the same form twice on the page gives a captcha already been rendered error"
I have a form that appears on the page but might appear/get rendered again **on the same page** when a user clicks a modal button.

The problem is that I get the following error if that form is being rendered twice on the page:

Error: reCAPTCHA has already been rendered in this element at Object.Hr [as render]

How do I solve this?

[2018-03-29 07:25] yasserzubair commented on #211
`<Recaptcha elementID='mobile' verifyCallback={ ()=> this.recaptchaVerified() } sitekey="xxxx" render="explicit" onloadCallback={()=> {console.log('recaptcha loaded')}} expiredCallback={() => this.setState({recaptchaVerified: false})}/>`

i wrote like this and it is still not working

[2018-04-02 19:04] rshk commented on #228
It was behaving slightly differently in my case ([Gatsby](https://www.gatsbyjs.org/) website), in that the callback was only getting called if landing on the form from another page, not if accessing the form page directly :confused:

Possibly some bug hiding somewhere in the ``isReady()`` polling? Btw, I noticed state being mutated directly here: https://github.com/appleboy/react-recaptcha/blob/ma

[2018-04-04 18:17] ericapply commented on #228
Having same problem. Needed this for redux-form.

[2018-04-13 13:12] kpu23 opened #230 "JSON List of Locales"
https://gist.github.com/kpu23/694c206f1f1c7fc1db89ca611448e368

A list of accepted locales, `country code: country name`.

I thought this might help users and I wasn't sure where else to put it.

Cheers,
Kevin.

[2018-04-15 01:09] SysOpsNet commented on #228
+1

[2018-04-15 05:47] reZach opened #231 ".verifyCallback() does not work with es6 classes"
Hello,

When calling the `.execute()` method on the recaptcha instance, the `verifyCallback` function is not called if within an es6 class. The `verifyCallback` is only called when outside the class. This is not ideal as it doesn't allow you to submit a form.

**Doesn't work**

    import * as React from 'react';
    import { RouteComponentProps } from 'react-router';
    var Recaptcha = require('

[2018-04-19 11:05] pongpisit33009 commented on #228
+1

[2018-04-19 15:11] hbowden commented on #229
Use elementID prop and give each captcha a different elementID. This will let you have multiple captcha instances on a page at the same time.

[2018-04-23 10:47] zhuangya commented on #231
workaround: pass any function to  `onloadCallback`

why:
https://github.com/appleboy/react-recaptcha/blob/52a22d896e556357517aa7078c33359346d1ed28/src/index.js#L69

if the component mount BEFORE the `grecaptcha` arrives, it would not call `_renderGrecaptcha` if `render === 'explicit' && onloadCallback && this.state.ready && !prevState.ready` is false.

[2018-04-23 13:50] oziian commented on #231
I changed my key using this instruction
https://codelabs.developers.google.com/codelabs/reCAPTCHA/index.html#2
and verifyCallback began to work after execute.
Perhaps this will help someone.

[2018-04-26 18:51] Jiert commented on #228
@rshk Thanks for sharing your version, seems to be working for me!

[2018-04-27 14:01] jstorm31 commented on #231
@zhuangya workaround works, but only for 1 form submit. Even if a function is passed to `onloadCallback`, repeated form submit does not trigger `verifyCallback`.

[2018-05-02 15:57] selrond commented on #197
@stevematdavies @ashah023 @glorp47 this helps, if you're dealing with small screens:
[ReCaptcha API v2 Styling - Stack Overflow](https://stackoverflow.com/questions/27713505/recaptcha-api-v2-styling/30376755#30376755)

[2018-05-03 00:14] vtaits opened #233 "grecaptcha.render is not a function"
In formatted minified file:
![image](https://user-images.githubusercontent.com/4801414/39555110-68eda042-4e7f-11e8-90f3-ef9d12d91de4.png)

Current `grecaptcha` value:
![image](https://user-images.githubusercontent.com/4801414/39555139-859fec90-4e7f-11e8-9c06-36f1ea05440c.png)

Additional condition in `isReady` function fixes it:

[code]

[2018-05-03 03:04] cuong-nguyen commented on #233
Same here, it's just broken on our production site.

[2018-05-03 06:46] cuong-nguyen commented on #233
@vtaits How do you make it work for you, just above condition? Where did you put it, because it's not working for me.

[2018-05-03 07:36] angelobarot commented on #233
I thought this is only a problem in "react-google-recaptcha". Then I switched to "react-recaptcha" to try. Then viola same error. How do you fix this?

[2018-05-03 07:56] ghengeveld commented on #233
Created a PR for this.

In our case this broke the entire app. We added an Error Boundary around it, to prevent this from happening in the future.

[2018-05-03 08:55] appleboy commented on #233
fixed in #234

[2018-05-03 08:56] #226 closed

[2018-05-03 08:56] #233 closed

[2018-05-03 14:46] AlinaPoluykova commented on #228
+1

[2018-05-07 08:39] Quramy opened #237 "TypeError: grecaptcha.render is not a function"
Hi. My project has encountered the following error:

[code]

It seems that this error was thrown at https://github.com/appleboy/react-recaptcha/blob/master/src/index.js#L105

Is there workaround ? 🤔

[2018-05-07 09:40] Quramy commented on #237
Sorry, we've used v2.3.7. And it's solved after upgrading v2.3.8.  Thanks for the PR #234

[2018-05-07 09:40] #237 closed

[2018-05-09 16:43] hudovisk opened #238 "className passed through props is being ignored"
The outer div of Recaptcha is hardcoded to "g-recaptcha" and does not accept the className prop.

[2018-05-21 00:39] mannieschumpert opened #240 "Doesn't render on Internet Explorer"
I doubt this issue is specific to this library, but the Recaptcha does not render on any version of Internet Explorer (it does render on Edge). Frustratingly, IE throws no errors at all on a page where I'm trying to use react-recaptcha, so I can't derive any clues about whether I can use some polyfill to fix it.

Does anyone have insight into what deficiencies IE has that is preventing this from w

[2018-05-25 06:09] GlennSouthern commented on #228
+1

[2018-05-27 09:45] cemkiy commented on #228
+1

[2018-05-28 16:51] sarneeh commented on #228
+1

[2018-05-28 17:01] sarneeh commented on #231
@zhuangya The workaround doesn't work for me :( `verifyCallback` still does not execute.

[2018-05-28 17:56] sarneeh commented on #228
The problem is that this library is not following the newest [Recaptcha API](https://developers.google.com/recaptcha/docs/invisible).

For example: `react-recaptcha` is basing on `data-onloadcallbackname` and `data-verifycallbackname` tag attributes for `explicit` rendering, but these attributes don't exist anymore. I don't know if this library was based on Recaptcha V1, but there are few properti

[2018-05-28 23:56] rshk commented on #228
Btw, can I ask pretty please people finding this issue in the future to just click the "thumbs up" on the issue description, instead of commenting with just a `+1`?

[2018-06-04 14:18] drewloomer commented on #240
@mannieschumpert I'm seeing this too. Any success in getting it to work?

[2018-06-05 12:53] ochanje210 opened #241 "reCAPTCHA couldn't find user-provided function: onloadCallback"
I have followed **Explicitly render the reCAPTCHA widget** and having the following message:
[code]

[2018-06-06 09:00] andrew-goldie commented on #212
@dann1609 This will load multiple copies of the script each time the user navigates to that component. You would need to do something with global application state to check existence.

[2018-06-06 10:22] farskid commented on #212
@andrew-goldie You're right. This code was written when I had an early experience with React.
I'd prefer to do this by creating a one time Provider wrapper around my whole application. something like this:

[code]

With this approach, since there is no state changes on top of RecaptchaProvider and all changes are happening inside the app which is render as `children`, the recaptcha script will onl

[2018-06-06 11:59] razvansandu commented on #241
I've had the same issue and found two solutions:
1. Add the onloadCallback function to window
2. Remove the onload=onloadCallback part from the query string of the script you included in index.html

[2018-06-07 02:39] JaosnHsieh commented on #241
I had the same problem started from these few days. It solved by @razvansandu comments. thanks.

[2018-06-08 11:43] anmol5varma opened #242 "verifyCallback callback isn't being called the first time you make the request."
A weird behaviour is happening as the first time I use captcha the callback isn't being called and hence no gResponse is sent and login fails. From the second request onwards it works fine.

[2018-06-12 11:58] adaror opened #243 "captcha doesn't appear on iphone"
hey,
i have a weird problem,
when i'm trying to display the captcha in mobile it works prefect in android system but some how it is not display in iphone's does anyone knows what might be the problem?

[2018-06-13 20:40] sarneeh commented on #217
Hey guys! I've encountered the same issue using `react-recaptcha` and decided to create my own library. It has some improvements comparing to this lib and most important - it works completely fine! 🚀

Library: https://github.com/sarneeh/reaptcha
Example: https://sarneeh.github.io/reaptcha/

Hope it helps! 😄 🎉

[2018-06-13 20:42] sarneeh commented on #231
Hey guys! As I encountered the same issue and couldn't solve it in a clean way I decided to create my own library. It has some improvements comparing to this lib and most important - it works completely fine! 🚀 Verify callback just works and what's awesome - you can have everything in your React component (not outside in some global variables).

Library: https://github.com/sarneeh/reaptcha
Example

[2018-06-13 20:46] sarneeh commented on #228
Hey guys! It took me a little bit more time to make it happen, but it's here! My approach has some improvements comparing to this lib and most important - it works! 😄 🚀 What's awesome - you can have everything in your React component (not outside in some global variables). Verify callback also works like a charm!

Library: https://github.com/sarneeh/reaptcha
Example: https://sarneeh.github.io/reap

[2018-06-13 20:49] sarneeh commented on #242
I've also had many problems with this lib so I've created my own one. You can check it out, it works pretty well and has some cool improvements comparing to this one. If you'll lack anything there, just file an issue - I'll try to fix it as soon as possible. 🚀

Library: https://github.com/sarneeh/reaptcha
Example: https://sarneeh.github.io/reaptcha/

[2018-06-13 20:50] sarneeh commented on #241
Maybe try making it more modern and react-way and use my new React reCAPTCHA wrapper library. I think you'll feel much better with it 😄 🚀

Library: https://github.com/sarneeh/reaptcha
Example: https://sarneeh.github.io/reaptcha/

[2018-06-22 19:38] asonni commented on #204
It doesn't work with me when I am user `grecaptcha.reset()` function!
Any other ideas

Thanks

[2018-06-28 15:05] thomasjthomasj commented on #231
@sarneeh Had this exact problem and this helped a bunch! Do you intend to continue to maintain it, for instance, after Google deprecate V2 for V3?

[2018-06-29 12:10] sarneeh commented on #231
@thomasjthomasj As the library is very small and the functionality isn't a big deal I think I'll have time to maintain it for a longer period of time :) I'm "active" (not contributing much, but following things that happen) on GitHub, so I think it won't be a problem.

About reCAPTCHA v3 - I've actually thought about implementing it right away, but I've noticed that reCAPTCHA v3 is still in develo

[2018-06-29 15:15] xxJeevesxx opened #245 "Provide functionality for Recaptcha v3"
Google now has the Recaptcha v3 (still in beta) but working. I've looked at the code here but not sure the best or your preferred way to integrate their v3 requirements. If possible, it'd be cool. Thanks!

[2018-07-02 13:02] joxerTMD opened #247 "setInterval in constructor causes memory leak on server"
Hello there!
setInterval [in constructor](https://github.com/appleboy/react-recaptcha/blob/0eb373916dcca78d137d20eedca46d6961cac5ee/src/index.js#L50) causes memory leak on server because componentWillUnmount() and therefore clearInterval() is not being called during server rendering.
I've prepared #246 to fix this. It would be cool if you merge it as soon as possible :)

[2018-07-03 00:54] appleboy commented on #247
merged. Done.

[2018-07-03 00:54] #247 closed

[2018-07-03 01:41] appleboy commented on #247
bump to `2.3.10`

[2018-07-09 21:21] jasan-s opened #249 "recaptcha does not trigger post page reload"
recaptcha works as expected on the first load of a component, however, If I reload the page and then try `this.recaptchaInstance.execute()` nothing happens

[2018-07-11 14:07] markpradhan commented on #249
Had the same issue, moved to react-google-recaptcha which has very similar api. Problem solved.

[2018-08-03 16:49] JMV2112 commented on #242
This can happen IF you're using `styled components` and create your elements within the `render` function. By moving the creation steps outside of the actual component I was able to resolve the not loading on the initial use issue.

[2018-08-15 21:22] EdwinJDiaz opened #250 "working in react native ?"
working in react native ? , thanks

[2018-09-02 09:25] hosseind2017 opened #251 "how can I hide badge?"
I cant hide badge because it dont have property ```'none'```
please add it
thank you

[2018-09-21 03:23] mike-van opened #252 "Invisible recaptcha: recaptcha widget doesnt execute."
Im following every step in the documentation for the invisible recaptcha. But i cant get the recaptcha widget to execute programmatically. because i think the recaptchaInstance is still undefined. And the recaptcha badge also doesnt show up. I'm just copy and paste the code from the documentation but still somehow cant get it to work. Really appreciate everyone for help. Here's my code:

[code]

[2018-10-12 12:12] dcworldwide opened #253 "Possible to inject the reCaptcha js lib into the DOM lazily?"
Is it possible to inject the reCaptcha js lib into the DOM lazily? I don't want to slow down my main page's load time. reCaptcha is only required on a child page.

[2018-10-12 12:15] dcworldwide commented on #253
Possibly using https://github.com/dozoisch/react-async-script

[2018-10-27 16:59] yiz0816 commented on #241
Hello razvansandu
I have a question
Could you explain your solution 1 in more detail?
what is window?
How do i have to add onloadCallback?
please tell me about it in detail
Thanks

[2018-11-07 10:31] Metrakit commented on #228
Same mistake for me

[2018-11-13 11:57] #238 closed

[2019-01-04 15:17] shawngavin commented on #249
Try removing the explicit render argument or changing it to the default onload.
i.e. <script src="https://www.google.com/recaptcha/api.js" async defer></script>

From Google's Recaptcha docs.

render | explicit onload | Optional. Whether to render the widget explicitly. Defaults to onload, which will render the widget in the first g-recaptcha tag it finds.
-- | -- | --

[2019-02-06 14:51] mattlockyer commented on #245
+1
Also the readme should be updated to reflect that this library only works for v2 please

[2019-02-06 15:04] mattlockyer commented on #242
It only works with explicity rendering, you need to specify
[code]
Not making excuses, putting here to help others.

Library needs better documentation!

[2019-02-23 05:09] fatclient commented on #252
When I console.log the instance, it doesn't event seem to have such property while being an object.

[2019-03-05 09:13] jojonarte commented on #252
It doesn't do anything :(

[2019-03-08 20:16] mckelveygreg commented on #252
Have you tried changing your button to `type='submit'` and your `<form action='this.executeCaptcha'... >`
Plus a submit button gives you accessibility built in.

[2019-03-28 08:13] quangkeu95 opened #256 "How to show loading indicator when loading recaptcha script"
When network is slow, i want to show a loading indicator. How can i handle event when recaptcha scripts are finished loading?

![image](https://user-images.githubusercontent.com/22004580/55141007-fb3de980-516b-11e9-85f8-f60016c8041c.png)

[2019-03-29 07:23] #256 closed

[2019-04-04 11:05] appsparkler commented on #196
Here's a link for V2 : https://developers.google.com/recaptcha/docs/invisible#render_param

[2019-05-14 07:51] varpenny commented on #241
I've found a solution: just pass onloadCallback to the component, even if it is sometime not necessary to handle the onload event.
@version: 2.3.10

`
<Recaptcha
    sitekey="xxx"
    render="explicit"
    onloadCallback={() => console.log('loaded')}
/>
`

[2019-05-20 12:29] AndreyPatseiko commented on #245
+1.
Because if you try used **sitekey** from v3 you get error. You must created keys only versions 2.

[2019-05-30 10:21] Zyets commented on #218
Reading my old issues... gosh.. sorry for being douchebag! I was young and inexperienced.

[2019-06-07 14:44] sergiop opened #258 "The auto-detect of the language doesn't work."
As reported in [reCaptcha v2 docs](https://developers.google.com/recaptcha/docs/display#js_param), to allow reCaptcha to auto-detect the language, you don't have to specify `hl` param.

<img width="519" alt="Schermata 2019-06-07 alle 16 32 18" src="https://user-images.githubusercontent.com/2235134/59111702-d9b66680-8941-11e9-8bd5-ba5158946cf6.png">

If you set it to `en` in the `defaultProps`, it'

[2019-06-07 17:21] appleboy commented on #258
Closed via #257

[2019-06-07 17:21] #258 closed

[2019-06-17 09:51] slorber commented on #229
I had the errror when using with Gatsby in production mode. The solution was to not render the component in SSR mode.

[2019-06-18 10:30] dimitrisnl commented on #229
@slorber 	Can you explain a bit more?

[2019-07-01 06:42] slorber commented on #229
Hi

I just did ` {isBrowser & & <Recaptcha/>} ` and it solved my issue. Didn't investigate more

[2019-07-04 12:10] #217 closed

[2019-07-17 04:47] JZebra commented on #181
I'm also having this issue in v2.3.11, but only in certain parts of my app.

[2019-08-12 09:33] ElForastero commented on #242
`onloadCallback` maybe works, but I still have issues with `verifyCallback` even with explicit render option.

[2019-08-13 15:57] scottyh527 opened #260 "Trying to make component responsive, change sizes based on media size"
How can I make the component responsive, i tried doing media queries to set the size lower on smaller screens but it doesn't seem to work. I don't want it to default it to compact. Any suggestions?

[2019-09-03 03:20] enriqueesmith commented on #197
I was able to adjust the size of the Recaptcha by passing an elementId prop in the Recaptcha component and then calling the id in the css file:

In JSX file:

`
...
<Recaptcha
	elementID="tablet"
	sitekey="6Le_my_site_key"
	render="explicit"
	/>
...
`

In CSS file:

[code]

Just change the scale numbers accordingly and it should make the Recaptcha box smaller or larger depending on what you want.

[2019-10-02 06:37] erb4f1dotama opened #261 "Working when Offline?"
Can react-recaptcha working when device offline? if ya, how that works?
Thankyou

[2019-10-10 00:20] bartimaeus commented on #229
Thanks @slorber! That worked for me.

[2019-10-10 19:08] murtali commented on #242
just having explicit render option is not enough -- you *need* the onloadCallback defined

[code]

[2019-10-31 09:37] philonor opened #262 "reCAPTCHA has already been rendered in this element"
**Description**
When using react-recaptcha in a GatsbyJS project and switching between pages containing the same component with a reCAPTCHA, rendering fails. It also fails when opening a direct link to one of the two pages.

![gatsby-recaptcha-reproduction](https://user-images.githubusercontent.com/5816039/67935092-787d8100-fbc9-11e9-9698-e470de845bec.gif)

**Reproduction**
- See repo https://gith

[2019-11-14 15:49] vinceve commented on #245
I created a PR for the documentation.

https://github.com/appleboy/react-recaptcha/pull/271

[2019-11-19 10:04] fernandopulsa commented on #262
Same problem here!

[2019-11-19 11:15] fernandopulsa commented on #262
@philonor as I found here https://github.com/appleboy/react-recaptcha/issues/229 the issue is really easy to fix.

Use  **isBrowser** of useSSR Hook https://github.com/alex-cory/use-ssr

`
{isBrowser && <Recaptcha/> }
`

[2019-11-25 19:22] Tectract commented on #212
If you want the script to only load once per page, I recommend using a technique like this:

    getInitialState() {
      @alreadyLoaded = false
      ...

    componentDidMount() {
      if(!@alreadyLoaded){
        const script = document.createElement("script");
        script.src = "https://www.google.com/recaptcha/api.js";
        script.async = true;
        document.body.appendChild(script

[2019-12-01 13:37] imPRAGMA commented on #262
@fernandopulsa Saved my ass!, But is there a reason we don't just do `{ typeof window !== `undefined` && <Recaptcha /> }` as window will be undefined when in SSR.

[2019-12-02 08:13] fernandopulsa commented on #262
Gatsby JS is not a SSR tool. If you try to use windows on the server will crush. To protect you for any undefined you must to use window with **componentDidMount()**

More info:
https://github.com/gatsbyjs/gatsby/issues/309

[2019-12-09 17:54] Sigolirous opened #272 "Need to change the size of the component"
As far as I know, we´re currently not able to change the component to a custom size. Can you make it real, please?

[2019-12-18 00:51] bhoomipatel6386 opened #273 "Adding tabIndex props does not actually add tabIndex to the clickable checkbox component, instead it adds it to the parent div which wraps the iframe. Not sure how can I get tabIndex set on the checkbox"

[2019-12-18 00:58] bhoomipatel6386 commented on #273
Adding tabIndex props does not actually add tabIndex to the clickable checkbox component, instead it adds it to the parent div which wraps the iframe. Not sure how can I get tabIndex set on the checkbox

[2019-12-27 09:57] akashkinwad-define opened #274 "Recaptcha Not generate on root_url ie 127.0.0.1:3000"

[2020-01-23 12:37] EitsamShahzad commented on #241
a

[2020-02-12 14:40] TheWebsDoor commented on #252
If the recaptcha is not showing it's possible that just forgot the script tag in the header (<script src="https://www.google.com/recaptcha/api.js" async defer></script>) but even with that I still have the issue.
The badge shows up but the execute function still doesn't work...

[2020-02-18 18:48] etienne-bondot commented on #212
This is not an issue to load the google script by ourselves.

My setup include a service to load the script:

[code]

And then in my form using react hooks:

[code]

This is working fine.
Hope this help :)

[2020-02-18 18:51] #212 closed

[2020-03-09 03:20] senorgeno commented on #262
Using a unique `elementID` worked for me.

[2020-04-13 21:41] LuisPerez94 commented on #252
I had the same problem and I could fix it by adding the Google Recaptcha API script inside my index.html

`    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
`

[2020-06-05 10:52] yes-mam commented on #252
I found this issue to be temperamental. It wouldn't happen every time. Sometimes on the initial load it would.

[2020-07-29 12:57] montanaflynn commented on #249
Same issue for me, we're using invisible recaptcha v2.

[2020-10-13 23:44] Dan-Wood commented on #261
No Recaptcha is a third-party service offered by Google, this is just a React wrapper for it..

[2020-10-13 23:45] Dan-Wood commented on #274
Same here, it's hit and miss. Ensure you've got localhost or 127.0.0.1 under Domains in the ReCaptcha admin settings

![image](https://user-images.githubusercontent.com/8968177/95927416-5bf24d00-0e0a-11eb-98aa-f9ca567fc1f5.png)

[2020-10-20 21:41] JozeHernandez commented on #241
Tuve el mismo problema y removiendo del Query me funciono, como lo mencionan arriba. Mi query quedo <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
:)

[2021-01-08 12:15] DanCanetti commented on #241
I had this loading in as `<script src="https://www.google.com/recaptcha/api.js" async defer></script>` and adding `?&render=explicit` to the src worked for me. Thanks for this, I've been looking for a solution for ages.

[2021-05-16 04:54] waliddeejay commented on #241
brother just replace your script with this :100:

<script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer>
</script>

[2021-06-11 10:26] Hiti3 commented on #147
any example how to do so?

[2021-09-22 15:17] BurN-SN opened #311 "Recaptcha Language Does Not Update When Site Language Changes"
Hey there,

I am having an issue with ReCAPTCHA on a site that requires instant translation. I can use the `hl` prop to pass it a language, but if the user changes the language, the ReCaptcha remains in the initial language and does not update to reflect the user's selection.

I will try to distill the implementation.

[code]
The context is working correctly. It is successfully translating the oth

[2021-09-23 14:21] BurN-SN commented on #311
I was able to solve this by conditionally rendering different ReCaptcha components like so:
[code]
I would still like to know if there is another solution to my problem out there. As our client expands into more language regions this will become very verbose and obviously repeated code is bug-prone and suboptimal

Thanks!

[2021-09-23 14:21] BurN-SN commented on #311
I was able to solve this by conditionally rendering different ReCaptcha components like so:
[code]
I would still like to know if there is another solution to my problem out there. As our client expands into more language regions this will become very verbose and obviously repeated code is bug-prone and suboptimal

Thanks!

[2021-09-28 14:16] fbrcc commented on #311
I found this other workaround.

`lang` is a valid language code string (`"en"`, `"es"`, `"pt"`, etc). Passing it as `key` to the react component forces a remount when lang changes and the component successfully re-mounts with the value of `lang` in the `hl` prop.
[code]

[2022-05-24 21:35] cristianoccazinsp opened #319 "Random timeouts printed in console"
After rendering a component with `<Recaptcha ...` and the page unmounts including the component, for some reason the following is printed in the console:

[code]

Looks like this started happening since React v18

[2022-05-25 10:54] sam-tmtc commented on #319
I'm finding this too on 17.0.2

[2022-05-25 12:54] cristianoccazinsp commented on #319
Turns out, this happens if the component unmounts shortly after mounting (probably before the captcha renders).  I had a slight bug in my application where the component would render on construction and disappear instantly due to a `componentDidMount` update changing the conditional logic to render it. After fixing that, the issue went away.

[2022-05-26 13:20] sam-tmtc commented on #319
Yep, that's it. I was conditionally removing the component from the page after the`verifyCallback`, which triggered the timeouts. I've changed the component to use `visibility: hidden` for now. However, removing the component probably shouldn't throw these console errors?

[2022-09-09 07:23] altyntsevlexus commented on #147
Any updates on this issue?

[2022-09-09 07:34] Hiti3 commented on #147
there is a nope from the community..

[2022-09-10 00:33] ms31-dev commented on #251
Is there otherwise a possibility to style the badge (I made it `badge='inline'`, but dont know how to style it)

[2022-09-12 17:59] kirill-develops opened #322 "responsive design on size prop"
Hey there,

I have a reCaptcha element as below and have set a ternary condition in the size prop to change the size based on a breakpoint however it does not seem to re-render. The `isMobile` variable is definitely updating. Wondering if there is a particular way to handle this with react-recaptcha:
`<Recaptcha`
`      sitekey={process.env.GATSBY_GOOGLE_CAPTCHA_SITEKEY}`
`      render="explicit"`

[2022-10-03 21:54] CGottschallJ opened #323 "Disabling in a automated test environment"
Hey,

I am looking to disable/work through react-recaptcha in a cypress automated test environment.

I've seen in the documentation [here](https://developers.google.com/recaptcha/docs/faq#id-like-to-run-automated-tests-with-recaptcha.-what-should-i-do) that a secondary `siteKey` and `secretKey` can be passed into the recaptcha however I am not seeing that is possible in the documentation for react

[2022-10-04 14:31] #323 closed, assigned to nobody

[2022-11-22 13:07] Wajihah-Kainat commented on #323
Hey @CGottschallJ can you please share your code, I want to know how it worked. I ran into the same thing. Help from your end would be appreciated